* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stagiaire-list {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  width: 70%;
  margin: 50px auto;
  background-color: #fff;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.photo-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  margin-bottom: 30px;
}

.photo-wrapper img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.trainee {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.leftinfo {
  border-right: 1px solid gray;
}

.rightinfo {
  padding: 0 30px;
  width: 50%;
}

.rightinfo .items {
  margin: 40px 0;
}

.items {
  font-weight: 500;
}

.items p {
  margin-bottom: 10px;
}

.items p span {
  font-weight: normal;
}

.trainee p {
  font-weight: 500;
}

.trainee p span {
  font-weight: normal;
}

.chevron {
  background-color: grey;
  width: 30%;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
