<div class="container-global">
  <h3>Intern Form (stagiaireForm)</h3>

  <form [formGroup]="stagiaireForm" (ngSubmit)="onSubmit()" class="grid">
    <h5 class="title">Basic Details</h5>
    <div class="grid-section">
      <div class="divone">
        <div class="left">
          <div class="childA">
            <label for="name">First Name: </label>
            <input
              type="text"
              formControlName="name"
              id="name"
              placeholder="Name"
            />
            <div class="error" *ngIf="isInvalidField('name')">
              {{ getErrorMessage("name") }}
            </div>
          </div>

          <div class="childB">
            <label for="surname">Last Name: </label>
            <input
              type="text"
              formControlName="surname"
              id="surname"
              placeholder="Surname"
            />
            <div class="error" *ngIf="isInvalidField('surname')">
              {{ getErrorMessage("surname") }}
            </div>
          </div>
        </div>

        <div class="right">
          <div class="picture">
            <label for="photo">
              <img
                [src]="
                  selectedImage ? selectedImage : 'assets/images/camera.jpg'
                "
                alt="pic"
                width="100px"
                height="100px"
              />
              <span>Add Photo</span>
            </label>
            <input
              type="file"
              id="photo"
              (change)="onFileSelected($event)"
              hidden
            />
          </div>
        </div>
      </div>

      <div class="mail">
        <label for="email">Email: </label>
        <input
          type="email"
          formControlName="email"
          id="email"
          placeholder="example@gmail.com *"
        />
        <div class="error" *ngIf="isInvalidField('email')">
          {{ getErrorMessage("email") }}
        </div>
      </div>

      <div class="divone">
        <div class="left">
          <label for="number">Number: </label>
          <input
            type="text"
            formControlName="number"
            id="number"
            maxlength="10"
            pattern="^(05|01|07)[0-9]{8}$"
            placeholder=" xxx-xxx-xxxx ( 10 Digits only)*"
            (input)="restrictDigits($event)"
          />
          <div class="error" *ngIf="isInvalidField('number')">
            {{ getErrorMessage("number") }}
          </div>
        </div>

        <div class="right">
          <label for="provenance">School Education: </label>
          <input type="text" formControlName="provenance" id="provenance" />
          <div class="error" *ngIf="isInvalidField('provenance')">
            {{ getErrorMessage("provenance") }}
          </div>
        </div>
      </div>

      <div class="divdates">
        <div class="begining">
          <label for="sdate">StartDate: </label>
          <input type="date" formControlName="startDate" id="sdate" />
        </div>

        <div class="ending">
          <label for="edate">EndDate: </label>
          <input type="date" formControlName="endDate" id="edate" />
        </div>
      </div>

      <div class="divone">
        <div class="left">
          <label for="theme">Theme: </label>
          <input type="text" formControlName="theme" id="theme" />
          <div class="error" *ngIf="isInvalidField('theme')">
            {{ getErrorMessage("theme") }}
          </div>
        </div>

        <div class="right">
          <label for="profession">Field Of Expertise: </label>
          <input type="text" formControlName="profession" id="profession" />
          <div class="error" *ngIf="isInvalidField('profession')">
            {{ getErrorMessage("profession") }}
          </div>
        </div>
      </div>
    </div>

    <!-- Supervisor -->
    <div class="grid-section" formGroupName="supervisor">
      <div class="divone">
        <div class="left">
          <label for="supervisor">Supervisor's Name:</label>
          <input
            type="text"
            formControlName="supervisorname"
            id="supervisor"
            placeholder="Supervisor's name"
          />
          <div
            class="error"
            *ngIf="isInvalidField('supervisor.supervisorname')"
          >
            {{ getErrorMessage("supervisor.supervisorname") }}
          </div>
        </div>

        <div class="right">
          <label for="contact">Supervisor's Contact:</label>
          <input
            type="text"
            formControlName="contact"
            maxlength="10"
            pattern="^(05|01|07)[0-9]{8}$"
            id="contact"
            placeholder="xxx-xxx-xxxx (10 digits Only)"
            (input)="restrictDigits($event)"
          />
          <div class="error" *ngIf="isInvalidField('supervisor.contact')">
            {{ getErrorMessage("supervisor.contact") }}
          </div>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit">Update</button>
    </div>
  </form>
</div>
