<!-- add padding to div container stagiaireform -->
<div class="container-global">
  <h3>Intern Form (stagiaireForm)</h3>

  <form [formGroup]="stagiaireForm" (ngSubmit)="onSubmit()" class="grid">
    <div
      class="form-error"
      *ngIf="formIsCompletelyEmpty"
      (click)="dismissFormError()"
    >
      ⚠️ Please fill in all fields before submitting.
    </div>
    <h5 class="title">Basic Details</h5>
    <div class="grid-section">
      <div class="divone">
        <div class="left">
          <label for="name">First Name: </label>
          <input
            type="text"
            formControlName="name"
            id="name"
            placeholder="first name"
          />
          <div class="error" *ngIf="isFieldInvalid('name')">
            {{ getErrorMessage("name") }}
          </div>

          <label for="surname">Last Name: </label>
          <input
            type="text"
            formControlName="surname"
            id="surname"
            placeholder="Last Name"
          />
          <div class="error" *ngIf="isFieldInvalid('surname')">
            {{ getErrorMessage("surname") }}
          </div>
        </div>

        <div class="right">
          <div class="picture">
            <label for="photo">
              <img src="assets/images/camera.jpg" alt="pic" />
              <span>Add Photo</span>
            </label>
            <input
              type="file"
              id="photo"
              (change)="onFileSelected($event)"
              accept="image/jpg, image/png, image/jpeg"
              hidden
            />
            <small class="format-note"
              >Allowed formats: JPG, PNG (max 1MB)</small
            >
          </div>
          <div class="preview" *ngIf="selectedImage">
            <p>Preview</p>
            <img [src]="selectedImage" alt="Selected Image" />
          </div>
        </div>
      </div>

      <div class="mail">
        <label for="email">Email: </label>
        <input
          type="email"
          formControlName="email"
          id="email"
          placeholder="example@gmail.com *"
        />
        <div class="error" *ngIf="isFieldInvalid('email')">
          {{ getErrorMessage("email") }}
        </div>
      </div>

      <div class="divone">
        <div class="left">
          <label for="number">Number: </label>
          <input
            type="text"
            formControlName="number"
            id="number"
            placeholder="xxx-xxx-xxxx(10 digits only) *"
            maxlength="10"
            pattern="^(05|01|07)[0-9]{8}$"
            inputmode="numeric"
            (input)="restrictDigits($event)"
          />
          <div class="error" *ngIf="isFieldInvalid('number')">
            {{ getErrorMessage("number") }}
          </div>
        </div>

        <div class="right">
          <label for="provenance">School Education: </label>
          <input type="text" formControlName="provenance" id="provenance" />
          <div class="error" *ngIf="isFieldInvalid('provenance')">
            {{ getErrorMessage("provenance") }}
          </div>
        </div>
      </div>

      <div class="divdates">
        <div class="begining">
          <label for="sdate">StartDate: </label>
          <input type="date" formControlName="startDate" id="sdate" />
          <div class="error" *ngIf="isFieldInvalid('startDate')">
            {{ getErrorMessage("startDate") }}
          </div>
        </div>

        <div class="ending">
          <label for="edate">EndDate: </label>
          <input type="date" formControlName="endDate" id="edate" />
          <div class="error" *ngIf="isFieldInvalid('endDate')">
            {{ getErrorMessage("endDate") }}
          </div>
        </div>
      </div>

      <div class="divone">
        <div class="left">
          <label for="theme">Theme: </label>
          <input type="text" formControlName="theme" id="theme" />
          <div class="error" *ngIf="isFieldInvalid('theme')">
            {{ getErrorMessage("theme") }}
          </div>
        </div>

        <div class="right">
          <label for="profession">Field Of Expertise: </label>
          <input type="text" formControlName="profession" id="profession" />
          <div class="error" *ngIf="isFieldInvalid('profession')">
            {{ getErrorMessage("profession") }}
          </div>
        </div>
      </div>
    </div>

    <!-- Supervisor -->
    <div class="grid-section" formGroupName="supervisor">
      <div class="divone">
        <div class="left">
          <label for="supervisor">Supervisor's Name: </label>
          <input
            type="text"
            formControlName="name"
            id="supervisor"
            placeholder="Supervisor's name"
          />
          <div class="error" *ngIf="isFieldInvalid('supervisor.name')">
            {{ getErrorMessage("supervisor.name") }}
          </div>
        </div>

        <div class="right">
          <label for="contact">Supervisor's Contact: </label>
          <input
            type="text"
            formControlName="contact"
            id="contact"
            placeholder="xxx-xxx-xxxx(10 digits only)"
            maxlength="10"
            pattern="[0-9]*"
            inputmode="numeric"
            (input)="restrictDigits($event)"
          />
          <div class="error" *ngIf="isFieldInvalid('supervisor.contact')">
            {{ getErrorMessage("supervisor.contact") }}
          </div>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
