* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-global {
  padding: 5rem 0;
}

form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.format-note {
  font-size: 10px;
}

.picture span {
  font-size: 12px;
}

h3 {
  text-align: center;
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px 0 0 10px;
}

.redstar {
  color: red;
}

/* Style Picture ............................................................... */
.picture {
  width: 250px; /* Increased width */
  height: 150px; /* Increased height */
  border: 2px dashed #ccc; /* Optional: make it look like an upload box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}

.picture img {
  width: 360px; /* Bigger image */
  height: 150px;
  object-fit: cover;
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 8px;
  margin-top: 20px;
}

/* Style grid section------------------------ */
form.grid {
  width: 50%;
  border: 1px solid lightgray;
  margin: 10px auto;
  border-radius: 5px;
}

form .grid-section {
  padding: 10px 30px;
}

form .grid-section > .divone:nth-child(1) input {
  margin-bottom: 0px;
}

form .grid-section:nth-child(3) {
  padding: 0 30px;
}

/* Style the picture  */
label[for="photo"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: all-scroll;
}

/* Style divone & divdates inside grid section----------------- */
/* .divone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.divone .left {
  margin-right: 10px;
}

.divone .left label {
  display: block;
  margin-bottom: 3px;
} */

.divone {
  display: flex;
  justify-content: space-between;
}

.divone .left,
.divone .right {
  flex: 0 0 48%;
  display: flex;
  flex-direction: column;
}

.divone .left label,
.divone .right label {
  margin-bottom: 5px;
  font-weight: 500;
}

form label {
  font-weight: 500;
}

.divdates {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 15px;
  margin-top: 10px;
}

/* Style the input -----------------------------------------------*/
input[type="text"],
input[type="email"] {
  border: 1px solid gray;
  border-radius: 17px;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  background: linear-gradient(to right, #f2f3f4, #e3ece6);
}

.left .childA {
  margin-bottom: 20px;
}

.divdates {
  margin-bottom: 20px;
}

input[type="date"] {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  border-radius: 17px;
  border: none;
  border: 1px solid gray;
}

input::placeholder {
  font-size: 18px;
}

input:focus {
  outline: none;
}

.left input:first-of-type {
  margin-bottom: 5px;
}

.left input:last-child {
  margin-bottom: 30px;
}

/* // Add space on div mail */
.mail {
  margin: 20px 0;
}

/* Style the button ---------------------------*/
.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.button-wrapper button {
  border-radius: 5px;
  font-size: 17px;
  color: #fff;
  width: 20%;
  padding: 10px;
  margin: 20px 2rem;
  background-color: orangered;
  border: none;
  cursor: pointer;
}

.button-wrapper button:hover {
  background-color: #ff0000;
}

.error {
  color: red;
  font-size: 0.85rem;
}

/* Style sweetalert2 popups */
.small-popup {
  width: 100px !important; /* Adjust to your preferred size */
  padding: 1.2rem !important;
  border-radius: 0.5rem;
}

/* Style preview image */
.preview {
  margin-top: 1rem;
}

.preview img {
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* General error-message ----------------------------------------*/
.form-error {
  color: #ff0000;
}

.format-note {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0000;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translate(-50%, -30px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
