/* You can add global styles to this file, and also import other style files */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-height: 100vh;
  background-image: url("assets/images/bgc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-container {
  width: 100%;
}
